/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

body {
	max-width: $fixed__width;
	margin: auto;
	line-height: 1.5;
	font-weight: lighter;
	font-size: 1.25rem;
}



a {
	text-decoration: none;
}


.site {
    padding: 2.5%;
}

button, button:focus, button:active, button:hover, {
	background: transparent;
	border: 2px solid $color__green;
	box-shadow: none;
	margin: 0 auto;
	padding: .75rem 2.5rem;
	color: $color__green;
	font-size: 1.25rem;
	font-weight: bolder;
	text-shadow: none;
	outline: none;
}
button:hover {
	border-color: darken($color__green, 10%);
	color: darken($color__green, 10%);
}

.pagination a {
	margin: 0 .25rem;
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
