/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

body {
	font-weight: lighter;
	max-width: $fixed__width;
	margin: auto;
}

a {
	text-decoration: none;
}


.site {
    padding: 2.5%;
}

button, button:focus, button:active, button:hover, {
	background: transparent;
	border: 2px solid $color__green;
	box-shadow: none;
	margin: 0 auto;
	color: $color__green;
	font-size: 1rem;
	text-shadow: none;
	outline: none;
}
button:hover {
	border-color: darken($color__green, 10%);
	color: darken($color__green, 10%);
}



/* Desktop Version */

@include desktop {
	.site-main {
		display: flex;
		justify-content: center;
		.container {
			box-sizing: border-box;
			width: 70%;
			display: flex;
			flex-direction: column;
			margin: auto;
			p {
				font-size: 2.5rem;
			}
			.entry-meta {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}
	}
    .site-main::before {
        content: "\f10d";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-size: 100px;
        color: $color__green;
    } 
    .site-main::after {
        content: "\f10e";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-size: 100px;
        color: $color__green;
	}
	.site-footer {
		max-width: $fixed__width;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin-top: 5%;
		margin-bottom: 0;
		.main-navigation {
			width: auto;
			.menu {
				margin-right: 1rem;
				li:last-child {
					border-right: 1px solid #ffffff;
				}
			}
		}
		.site-info p {
			line-height: 1;
			margin: 0;
		}
	}   
}

/* Tablet Version */




/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
