/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* About */


/* Submit a Quote Page */
.quote-submission {
    width: 75%;
    margin: auto;
    #quote-submission-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        div {
            display: flex;
            flex-direction: column;
        }
        input, textarea {
            border: 1px solid $color__green;
            background: transparent;
            color: white;
            width: 60%;
        }
        textarea {
            border: 1px solid $color__green;
            background: transparent;
            color: white;
            width: 100%;
        }
        #submit-quote {
            margin: 0;
            box-shadow: none;
            font-size: 1rem;
            text-shadow: none;
            outline: none;
            width: 30%;
            color: $color__green;
        }
    }
}

/* Header */
.site-header {
    max-width: $fixed__width;
    margin: 4% auto;
    .site-branding {
        width: 100%;        
        img {
            width: 70%;
            margin: 0 12.5%;
        }
    }
}


/* Footer */
.site-footer{
    .menu {
        display: flex;
        li {
            border-right: 1px solid #ffffff;
            line-height: 1;
            padding: 0 1rem;
        }
        li:first-child {
            padding-left: 0;
        }
        li:last-child {
            border: none;
        }
    }
} 



/* All Archives Page */

/* Submit a Quote Page */
