/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* About */


/* Submit a Quote Page */
.quote-submission {
    width: 70%;
    margin: auto;
    #quote-submission-form {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            flex-direction: column;
        }
        label {
            width: 60%;
        }
        input, textarea {
            border: 1px solid $color__green;
            background: transparent;
        }
    }
}




/* Footer */
.site-footer .menu {
    display: flex;
    margin-bottom: 4%;
    li {
        border-right: 1px solid #ffffff;
        line-height: 1;
        padding: 0 1rem;
    }
    li:first-child {
        padding-left: 0;
    }
    li:last-child {
        border: none;
    }
}




/* All Archives Page */

/* Submit a Quote Page */
