/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Index */

.blog {
    .container {
        p {
            font-size: 1.25rem;
        }
        h2 {
            font-size: 1.25rem;
            font-weight: lighter;
        }
    }
}


/* About */
.page {
    .site-main {
        width: $fixed__width;
    }
    .entry-content{
        margin: auto;
    }
    .entry-header {
        .entry-title {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}


/* All Archives Page */

.archive-container {
    display: flex;
    flex-direction: column;	
    width: 100%;
    .entry-title {
        font-size: 2rem;
        font-weight: 400;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    div {
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            margin: 0;
            padding: 0;
            line-height: 2rem;
            li {
                margin-right: 1.125rem;
                margin-bottom: .5rem;
                font-size: 1rem;
            }
        }
    }
}






/* Submit a Quote Page */
.quote-submission {
    width: 100%;
    margin: auto;
    #quote-submission-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        div {
            display: flex;
            flex-direction: column;
        }
        input, textarea {
            border: 1px solid $color__green;
            background: transparent;
            color: white;
            width: 60%;
        }
        input:focus, textarea:focus {
            outline: none;
            border-color: white;
        }
        textarea {
            border: 1px solid $color__green;
            background: transparent;
            color: white;
            width: 100%;
        }
        #submit-quote {
            margin: 0;
            box-shadow: none;
            font-size: 1.25rem;
            text-shadow: none;
            outline: none;
            width: 50%;
            color: $color__green;
        }
        #submit-quote:hover {
            border-color: darken($color__green, 10%);
            color: darken($color__green, 10%);  
        }
    }
}

/* Header */
.site-header {
    max-width: $fixed__width;
    margin: 4% auto;
    .site-branding {
        width: 100%;        
        img {
            width: 100%;
            margin: auto;
        }
    }
}


/* Footer */
.site-footer{
    margin: 12% auto;
    font-size: 1rem;
    .menu {
        display: flex;
        margin: 6% auto;
        li {
            border-right: 1px solid #ffffff;
            line-height: 1;
            padding: 0 1rem;
        }
        li:first-child {
            padding-left: 0;
        }
        li:last-child {
            border: none;
        }
    }
} 

/* Error 404 and failed search results page */

.error-404, .search-no-results {
    width: 100%;
    margin: auto;
    h1 {
        font-weight: lighter;
    }
    .search-field, .search-field:focus {
        background: transparent;
        border: 2px solid $color__green;
        width: 240px;
        font-size: 1.25rem;
        padding-left: .75rem;
        color: white;
    }
    .search-field:focus {
        border-color: white;
        outline: none;
    }
    .search-submit {
        border: 0;
        margin-left: .75rem;
        padding: 0;
    }
    .search-submit::before {
        content: "\f002";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        font-size: 1.25rem;
        color: $color__green;
    }
}

/* Search results */

.search {
    .site-main {
        display: flex;
        .search-container {
            width: 70%;
            display: flex;
            flex-direction: column;
            margin: auto;
            .page-header {
                border-bottom: 1px dotted #ffffff;
                width: 100%;
            }
            article {
                width: 100%;
            }
            .entry-header .entry-title {
                font-size: 1.5rem;
            }
        }
    }
}

.search-no-results .page-header {
    display: none;
}

/* Single Archive page */

.archive {
    .site-main {
        display: flex;
        .archive-container {
            width: 70%;
            display: flex;
            flex-direction: column;
            margin: auto;
            .page-header {
                border-bottom: 1px dotted #ffffff;
            }
            .container {
                width: 100%;
                article {
                    border-bottom: 1px dotted #ffffff;
                    padding-bottom: 5%;
                }
                .entry-header .entry-title {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
/* Media Queries */

/* Desktop Version */

@include desktop {
    .site {
        padding: 0;
    }
	.home, .page-template-default, .single, .error404, .search, .archive {
		.site-main {
			display: flex;
			justify-content: center;
			.container {
				box-sizing: border-box;
				width: 70%;
				display: flex;
				flex-direction: column;
				margin: auto;
				p {
					font-size: 2.5rem;
				}
            }
            .error-404 {
                width: 70%;
                margin: auto;
            }
		}
		.site-main::before {
			content: "\f10d";
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			font-size: 125px;
			color: $color__green;
		} 
		.site-main::after {
			content: "\f10e";
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			font-size: 125px;
			color: $color__green;
        } 
        .site-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
    }
	.page-template-default {
		.archive-container {	
			width: 70%;
			margin: auto;
			div ul li {
                margin-right: 2%;
                font-size: 1.4rem;
            }
            .post-tags ul li a {
                font-size: 1.4rem !important;
            }		
		}
		.quote-submission {
			width: 75%;
				#submit-quote {
					width: 30%;
				}
			}
		article {
			box-sizing: border-box;
			width: 70%;
			display: flex;
			flex-direction: column;
			margin: auto;
		}
    }
}

/* Tablet Version */

@include tablet {
	.site-header .site-branding {
        width: 75%;
        margin: auto;
    }
    .site-main .container  {
            width: 100%;
            p {
                font-size: 1.75rem;
            }
            .entry-meta {
                line-height: 1.5;
                .entry-title {
                    margin: 0;
                    font-weight: lighter;
                    display: inline;
                }
                .source {
                    font-size: 1.5rem;
                }
            }
        }
    .archive-container {
        div ul li {
            font-size: 1.25rem;
        }
        .post-tags ul li a {
            font-size: 1.25rem !important;
        }
    }
    .quote-submission #quote-submission-form #submit-quote {
        width: 30%;
    }
    .site-footer {
        max-width: $fixed__width;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 5%;
        margin-bottom: 0;
        .main-navigation {
            width: auto;
            .menu {
                margin-right: 1rem;
                li:last-child {
                    border-right: 1px solid #ffffff;
                }
            }
        }
        .site-info p {
            line-height: 1;
            margin: 0;
        }
    }  
}

